<section class="mx-auto w-11/12 max-w-7xl" id="benefits">
    <h3 class="text-3xl font-bold text-center text-[#00337F] mt-10">Características</h3>
    <ul class="grid md:grid-cols-2 lg:grid-cols-3  place-items-center   ">
        <li class="flex flex-col place-items-center mb-10">
            <img class="w-1/3 my-3" src="../benefits/tableConfig.png" alt="dimas res">
            <h3 class="text-2xl text-center text-[#127AFF]">Configuración de Mesas</h3>
            <p class="text-center">Organiza y personaliza la disposición de las mesas de tu establecimiento de forma sencilla.</p>
        </li>
        <li class="flex flex-col place-items-center mb-10">
            <img class="w-1/3 my-3" src ="../benefits/reportPos.png" alt="dimas res">
            <h3 class="text-2xl text-center text-[#127AFF]">Reportes Avanzados</h3>
            <p class="text-center">Genera informes detallados y específicos según tus necesidades.</p>
        </li>
        <li class="flex flex-col place-items-center mb-10">
            <img class="w-1/3 my-3" src="../benefits/posKitchen.png" alt="dimas res">
            <h3 class="text-2xl text-center text-[#127AFF]">Módulo de Cocinas</h3>
            <p class="text-center">Optimiza la comunicación y el flujo de trabajo en la cocina.</p>
        </li>
        <li class="flex flex-col place-items-center mb-10">
            <img class="w-1/3 my-3" src="../benefits/invetarioPos.png" alt="dimas res">
            <h3 class="text-2xl text-center text-[#127AFF]">Gestión de Inventario</h3>
            <p class="text-center">Controla y monitorea el inventario de tu negocio eficientemente.</p>
        </li>
        <li class="flex flex-col place-items-center mb-10">
            <img class="w-1/3 my-3" src="../benefits/posView.png" alt="dimas res">
            <h3 class="text-2xl text-center text-[#127AFF]">Facilidad de Uso</h3>
            <p class="text-center">Interfaz intuitiva y fácil de usar para todos.</p>
        </li>
        <li class="flex flex-col place-items-center mb-10">
            <img class="w-1/3 my-3" src="../benefits/printerPos.png" alt="dimas res">
            <h3 class="text-2xl text-center text-[#127AFF]">Configuración de Impresoras</h3>
            <p class="text-center ">Configura tus impresoras para un rendimiento óptimo.</p>
        </li>
    </ul>
</section>
