<ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-10 place-items-center my-20 mx-auto w-11/12 max-w-7xl gap-y-5">
    <li class="flex flex-col place-items-center ">
        <img class="w-1/2 my-3" src="../benefits/tableConfig.png" alt="dimas res">
        <h3 class="text-2xl font-bold text-center text-[#00337F]">Configuracion de Mesas</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempora iste architecto. Distinctio eius repellat tenetur. Itaque modi maiores, iste a nostrum temporibus dolore voluptates est asperiores suscipit quas sed?</p>
    </li>
    <li class="flex flex-col place-items-center ">
        <img class="w-1/2 my-3" src ="../benefits/reportPos.png" alt="dimas res">
        <h3 class="text-2xl font-bold text-center text-[#00337F]">Reportes Avanzados</h3>
        <p class="text-center">Comparte tus requerimientos</p>
    </li>
    <li class="flex flex-col place-items-center ">
        <img class="w-1/2 my-3" src="../benefits/posKitchen.png" alt="dimas res">
        <h3 class="text-2xl font-bold text-center text-[#00337F]">Modulo de cocinas </h3>
        <p class="text-center">Comparte tus requerimientos</p>
    </li>
    <li class="flex flex-col place-items-center ">
        <img class="w-1/2 my-3" src="../benefits/invetarioPos.png" alt="dimas res">
        <h3 class="text-2xl font-bold text-center text-[#00337F]">Comparte tus requerimientos</h3>
        <p class="text-center">Comparte tus requerimientos</p>
    </li>
    <li class="flex flex-col place-items-center ">
        <img class="w-1/2 my-3" src="../benefits/posView.png" alt="dimas res">
        <h3 class="text-2xl font-bold text-center text-[#00337F]">Facilidad de Uso</h3>
        <p class="text-center">Comparte tus requerimientos</p>
    </li>
    <li class="flex flex-col place-items-center ">
        <img class="w-1/2 my-3" src="../benefits/printerPos.png" alt="dimas res">
        <h3 class="text-2xl font-bold text-center text-[#00337F]">Configuracion de impresoras</h3>
        <p class="text-center">Comparte tus requerimientos</p>
    </li>
</ul>