<section class="flex flex-col items-center justify-center my-20 w-11/12 max-w-7xl mx-auto">
    <img class="w-72" src="cohete.jpeg" alt="innovation"> 
    <h2 class="font-bold text-3xl text-center mb-5 border-[#808080] border-b">Innovación</h2>
    <p class="text-xm text-center text-[#808080] mb-3">
        Si tienes una idea innovadora, estamos aquí para ayudarte a construir una versión inicial del producto y lanzarlo al mercado. En Jevesoft, apoyamos a los visionarios y emprendedores a convertir sus sueños en realidad, brindando el soporte necesario desde la concepción hasta la implementación.
    </p>
    <a class="text-[#FF415C]">Empezar!</a>
</section>