<section class="flex flex-col items-center justify-center my-20 w-11/12 max-w-7xl mx-auto">
    <img class="w-72" src="cohete.jpeg" alt="innovation"> 
    <h2 class="font-bold text-3xl text-center mb-5 border-[#808080] border-b">InnovacioÌn</h2>
    <p class="text-xm text-[#808080] mb-3">If you have got a brief idea, we are heer to help yuo build an eaarly product version and give it a shot in the market</p>
    <a class="text-[#FF415C]">Get Started</a>
</section>