<section class="bg-[#124] text-white py-20">
  <h2 class="font-bold text-3xl text-center mb-10">
    Servicios <span class="text-[#127AFF]">que ofrecemos</span>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto w-11/12 max-w-7xl relative">
    <div class="so-card">
      <!-- Icons -->
      <h4>Desarrollo de Software</h4>
      <p>
        We develop customer-centric software products that deliver noticeable
        business results like increased profitability, business process
        optimization, new Client attraction, and time-to-market time reduction.
      </p>
      <a>Aprender mas</a>
    </div>

    <div class="so-card">
      <!-- Icons -->
      <h4>Desarrollo de Software</h4>
      <p>
        We develop customer-centric software products that deliver noticeable
        business results like increased profitability, business process
        optimization, new Client attraction, and time-to-market time reduction.
      </p>
      <a>Aprender mas</a>
    </div>
    <div class="so-card">
      <!-- Icons -->
      <h4>Desarrollo de Software</h4>
      <p>
        We develop customer-centric software products that deliver noticeable
        business results like increased profitability, business process
        optimization, new Client attraction, and time-to-market time reduction.
      </p>
      <a>Aprender mas</a>
    </div>
    <div class="so-card">
      <!-- Icons -->
      <h4>Desarrollo de Software</h4>
      <p>
        We develop customer-centric software products that deliver noticeable
        business results like increased profitability, business process
        optimization, new Client attraction, and time-to-market time reduction.
      </p>
      <a>Aprender mas</a>
    </div>
  </div>
</section>

<style>
  h4 {
    font-size: 1.5rem;
    margin: 0.6rem 0px;
  }
  a {
    color: #ff415c;
  }
  .so-card{
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  .so-card:hover{
    background: rgb(113,45,74);
    background: linear-gradient(29deg, rgba(113,45,74,1) 0%, rgba(11,52,112,1) 100%);
  }
</style>
