<section class="bg-[#124] text-white py-20" id="services">
  <h2 class="font-bold text-3xl text-center mb-10">
    Servicios <span class="text-[#127AFF]">que ofrecemos</span>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto w-11/12 max-w-7xl relative">
    <div class="so-card">
      <!-- Icons -->
      <h4>Desarrollo de Software</h4>
      <p>
        Jevesoft crea soluciones de software personalizadas que responden a las necesidades específicas de cada cliente. Desde aplicaciones móviles hasta sistemas empresariales complejos, garantizamos un producto final que optimiza los procesos y mejora la eficiencia operativa.
      </p>
      <a>Aprender mas</a>
    </div>

    <div class="so-card">
      <!-- Icons -->
      <h4>Consultoria Tecnológica</h4>
      <p>
        Nuestro equipo de expertos ofrece asesoramiento estratégico para seleccionar e implementar las tecnologías más adecuadas a sus objetivos comerciales. Ayudamos a identificar oportunidades de mejora y a diseñar soluciones que impulsen la innovación y el crecimiento.
      </p>
      <a>Aprender mas</a>
    </div>
    <div class="so-card">
      <!-- Icons -->
      <h4>Software as a Service</h4>
      <p>
        Proporcionamos aplicaciones de software alojadas en la nube, accesibles desde cualquier lugar y siempre actualizadas. Nuestro modelo SaaS reduce costos iniciales y permite a las empresas escalar sus operaciones fácilmente mientras se mantienen seguras y eficientes.
      </p>
      <a>Aprender mas</a>
    </div>
    <div class="so-card">
      <!-- Icons -->
      <h4>Capacitación y Formación</h4>
      <p>
        Ofrecemos programas de capacitación personalizados para asegurar que su equipo esté bien preparado para utilizar nuestras soluciones tecnológicas. Nuestro objetivo es maximizar la adopción y el uso eficaz del software, potenciando las capacidades de su personal y mejorando el rendimiento general.
      </p>
      <a>Aprender mas</a>
    </div>
  </div>
</section>

<style>
  h4 {
    font-size: 1.5rem;
    margin: 0.6rem 0px;
  }
  a {
    color: #ff415c;
  }
  .so-card{
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  .so-card:hover{
    background: rgb(113,45,74);
    background: linear-gradient(29deg, rgba(113,45,74,1) 0%, rgba(11,52,112,1) 100%);
  }
</style>
