<section class="grid md:grid-cols-[1fr,2fr] md:grid-cols-[1fr, 2fr] gap-x-10 place-items-center mt-10 mb-20 mx-auto w-11/12 max-w-7xl gap-y-5">
    <h4 class="text-3xl text-[#127AFF]">¿Quienes <span class="text-[#00337F]">somos?</span></h4>
    <div class="flex flex-col gap-y-5">
        <p class="text-base md:text-xl text-justify leading-9 ">
            Jevesoft, una empresa de desarrollo de software, se dedica a digitalizar negocios centrándose en los problemas y necesidades específicos de sus clientes. Proporcionan soluciones de software personalizadas diseñadas para resolver desafíos comerciales y alcanzar los objetivos de cada cliente.
        </p>
        <p class="text-base md:text-xl text-justify leading-9">
            Además, Jevesoft ofrece un servicio altamente personalizado y de calidad. Su equipo de expertos colabora estrechamente con los clientes para entender a fondo sus procesos y necesidades únicas, desarrollando soluciones que optimizan operaciones e impulsan el crecimiento.
        </p>
    </div>
</section>