<section class="bg-[#124] text-white py-20 why_section">
    <h2 class="font-bold text-3xl text-center mb-10">Porque compañias trabajan con <span class="text-[#127AFF]">Jevesoft</span></h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 w-11/12 max-w-7xl mx-auto">
        <div>
            <h4 class="text-2xl mb-2">Full transparenccty</h4>
            <p class="mb-3">The whole process is as transparent as possible. We inmediately stablish a roadmap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis molestiae nisi alias vitae sint est accusantium ad expedita voluptates maxime itaque commodi, mollitia ab fugit repellat assumenda eligendi dolorum!</p>
            <a class="text-[#FF415C]">Conocer mas ></a>
        </div>

        <div>
            <h4 class="text-2xl mb-2">Full transparenccty</h4>
            <p class="mb-3">The whole process is as transparent as possible. We inmediately stablish a roadmap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis molestiae nisi alias vitae sint est accusantium ad expedita voluptates maxime itaque commodi, mollitia ab fugit repellat assumenda eligendi dolorum!</p>
            <a class="text-[#FF415C] mt-2">Conocer mas ></a>
        </div>

        <div>
            <h4 class="text-2xl mb-2">Full transparenccty</h4>
            <p class="mb-3"> The whole process is as transparent as possible. We inmediately stablish a roadmap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis molestiae nisi alias vitae sint est accusantium ad expedita voluptates maxime itaque commodi, mollitia ab fugit repellat assumenda eligendi dolorum!</p>
            <a class="text-[#FF415C] mt-2">Conocer mas ></a>
        </div>

        <div>
            <h4 class="text-2xl mb-2">Full transparenccty</h4>
            <p class="mb-3" >The whole process is as transparent as possible. We inmediately stablish a roadmap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi veritatis molestiae nisi alias vitae sint est accusantium ad expedita voluptates maxime itaque commodi, mollitia ab fugit repellat assumenda eligendi dolorum!</p>
            <a class="text-[#FF415C] mt-2">Conocer mas ></a>
        </div>
    </div>
</section>

<style>
    .why_section{
        background-image: url(pattren2.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-repeat: space;
    }
</style>